.desktop-bank-account-list-screen__bank-account-list {
	height: 100%;

	table {
		border: none;
		border-collapse: collapse;
		color: rgb(var(--rgb-text-white));
		font-family: arial, sans-serif;
		font-size: 1.2rem;
		width: 100%;
	}

	thead {
		background-color: rgb(var(--rgba-header-profile-background-color));
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0em;
		color: rgb(var(--rgb-text-white));
	}

	td,
	th {
		padding: 1.2rem 0 1.2rem 3.5rem;
		text-align: center;
	}
}
