.desktop-bank-account-list-screen__bank-account-list {
	height: 100%;

	table {
		border: none;
		border-collapse: collapse;
		color: #fff;
		font-family: arial, sans-serif;
		font-size: 1.2rem;
		width: 100%;
	}

	thead {
		background-color: rgba(12, 26, 50, 0.5);
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0em;
		color: #fff;
	}

	td,
	th {
		padding: 1.2rem 0 1.2rem 3.5rem;
		text-align: center;
	}
}
